
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Welcome to Customers Controller </h1>
        <a href="@Url.Action("DisplayCustomers","Customer")">Display Customers</a>
    </div>
</body>
</html>
