
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnonymousTypes</title>
</head>
<body>
    <div>
        <form method="post">
            <div>
                <label>Enter Employee name</label>
                <input type="text" name="EmpName" />
            </div>
            <div>
                <label>Enter Employee Age</label>
                <input type="number" name="EmpAge" />
            </div>
            <div>
                <label>Enter Employee Department</label>
                <input type="text" name="Department" />
            </div>
            <div>
                <button type="submit">Post</button>
            </div>
        </form>
    </div>
</body>
</html>
