
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>App</title>
</head>
<body>
    <div>
        <form method="post">
            <label>What is the shape of the earth</label>
            <input type="text" name="es" />
            <label>Sun rises in the east</label>
            <input type="text" name="sr" />
            <label>Enter password</label>
            <input type="password" name="pwd" />
            <button type="submit">post</button>
        </form>
    </div>
</body>
</html>
