
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FavouriteSingerDetails</title>
</head>
<body>
    <div>
        <form method="post">
            <div>
                <label>Enter your favourite singer name :</label>
                <input type="text" name="sname" />
            </div>
            <div>
                <label>Enter his ethnicity</label>
                <input type="text" name="sethnicity" />
            </div>
            <div>
                <label>Enter his recent age</label>
                <input type="number" name="sage" />
            </div>
            <button type="submit">Enter</button>
        </form>
    </div>
</body>
</html>
