
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FavouriteCricketerDetails</title>
</head>
<body>
    <div>
        <form method="post">
            <div>
                <label>Enter your favourite cricketer name : </label>
                <input type="text" name="cname" />
            </div>
            <div>
                <label>Enter his recent age : </label>
                <input type="number" name="cage" />
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>
