@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @* Displaying the value of sum in the default view *@
        @{ 
            int a = 10, b = 210, sum = 0;
            sum = a + b;
            <p>The value of sum is @sum</p>
        }
    </div>
</body>
</html>
