
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form method="post">
            <label>Enter your username</label>
            <input type="text" name="uname" />
            <label>Enter your password</label>
            <input type="password" name="pwd" />
            <button type="submit">Login</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>
</html>
