
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcessLogin</title>
</head>
<body>
    <div> 
        @{ 
            string username = ViewData["username"].ToString();
            // string username = ViewBag.username; // ViewBag and ViewData Can be interchangeable
            string password = ViewData["password"].ToString();
            string message = (username == "admin" && password == "admin123") ? $"Welcome! {username}" : "Invalid Credentials";
        }
        <p>@message</p>
    </div>
</body>
</html>


@*
One of the drawbacks of viewdata is you have to explicitly do the type conversion and it's limited scope.    
*@