
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Process Cricketer</title>
</head>
<body>
    <div>
        <h1>Form Collection</h1>
        <p>@Convert.ToString(ViewData["cname"])</p>
        <p>@Convert.ToInt32(ViewData["cage"])</p>
        <p>@Convert.ToString(ViewData["cethnicity"])</p>
    </div>
</body>
</html>
