@model StateManagement.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcessProduct</title>
</head>
<body>
    <div> 
        <p>@Model.Id</p>
        <p>@Model.Description</p>
        <p>@Model.Name</p>
    </div>
</body>
</html>
