
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <form method="post">
        <div>
            <p>Model Practice</p>
            <div>
                <label>Enter Product Id</label>
                <input type="number" name="Id" />
            </div>
            <div>
                <label>Enter Product Name</label>
                <input type="text" name="Name" />
            </div>
            <div>
                <label>Enter Product Description</label>
                <input type="text" name="Description" />
            </div>
            <button type="submit">Post</button>
        </div>
    </form>
    
</body>
</html>
