
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>
        <form method="post">

            <!--First Name field in registration-->
            <div>
                <label>Enter your first name : </label>
                <input type="text" name="fname" />
            </div>

            <!--Last Name field in registration-->
            <div>
                <label>Enter your last name : </label>
                <input type="text" name="lname" />
            </div>

            <!-- Age field in registration -->
            <div>
                <label>Enter your age</label>
                <input type="number" name="age" />
            </div>

            <!-- Submit Button -->
            <button type="submit">Register</button>

        </form>
    </div>
</body>
</html>
